
@model DotNetCoreWebApp.EditModels.ArtistEditModel

<br /> <br />
<form asp-controller="Chinook"
      asp-action="EditArtist">

    <label asp-for="Name">Name</label>
    <input asp-for="Name"/>
    <input type="hidden" asp-for="ArtistId"/>

    <input type="submit" value="Save" />

</form>